<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>

  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>

  <p>
    <%= @blog.body %>
  </p>
<<<<<<< HEAD

  <%= render 'comments/comment_form' %>
  <div id="comments" data-blog-id="<%= @blog.id %>" >
    <%= render @blog.comments %>
  </div>

=======
  <%= render 'comments/comment_form' %>
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
>>>>>>> 66a67007c622609fb8cdd25e9d447d2e34ac405c
</div><!-- /.blog-main -->